<!-- Footer -->
  <footer id="footer">
    <div class="content">
      <div class="inner">
        <section class="about">
          <h3>Contact</h3>
          <p>Feel free to contact me if you have any questions about my work or an interesting new project or opportunity.</p>
          <ul class="icons">
            <li>
              <a href="mailto:info@qgon.nl" class="icon solid fa-envelope fa-lg" style="cursor: pointer;" target="_blank">
                <span class="label">Email</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/qgon_nl" class="icon brands fa-twitter fa-lg" style="cursor: pointer;" target="_blank">
                <span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marceloverdijk" class="icon brands fa-linkedin fa-lg" style="cursor: pointer;" target="_blank">
                <span class="label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/marceloverdijk" class="icon brands fa-github fa-lg" style="cursor: pointer;" target="_blank">
                <span class="label">GitHub</span>
              </a>
            </li>
            <li>
              <a href="https://gitter.im/marceloverdijk" class="icon brands fa-gitter fa-lg" style="cursor: pointer;" target="_blank">
                <span class="label">Gitter</span>
              </a>
            </li>
          </ul>
        </section>
        <ul class="icons bulleted">
          <li class="icon solid fa-map-marker-alt">
            <h3>Address</h3>
            <p>Hoeve 20<br />
            6176 BH Spaubeek<br />
            The Netherlands</p>
          </li>
          <li class="icon solid fa-phone">
            <h3>Phone</h3>
            <p>+31 (0) 6 21 42 21 01</p>
          </li>
          <li class="icon solid fa-envelope">
            <h3>Email</h3>
            <p><a href="mailto:info@qgon.nl">info@qgon.nl</a></p>
          </li>
        </ul>
        <ul class="icons bulleted">
          <li class="icon solid fa-piggy-bank">
            <h3>Bank</h3>
            <p>NL41BUNQ2036361552<br />
            BIC: BUNQNL2A</p>
          </li>
          <li class="icon solid fa-landmark">
            <h3>KVK</h3>
            <p>Qgon<br />
            75595389</p>
          </li>
          <li class="icon solid fa-percent">
            <h3>VAT</h3>
            <p>NL158108929B01</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; {{ site.title }}. All rights reserved.</p>
  </footer>
