<!-- Header -->
  <header id="header" class="{{ include.class }}">
    <h1 id="logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-qgon.png"><span>{{ site.title }}</span></a></h1>
    <nav id="nav">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
        <li><a href="#footer" class="scrolly">Contact</a></li>
      </ul>
    </nav>
  </header>
