<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		{% include google_analytics.html %}
	</head>
	<body class="{{ page.body_class }} is-preload">

		{% include layout/header.html class=page.header_class %}

		{{ content }}

		{% include layout/footer.html %}

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
